<!--The content below is only a placeholder and can be replaced.-->

<h2 *ngIf="theadData.length">Angular Table Loaded </h2>
<table class="table table-striped table-condensed table-hover jsTable" cellpadding="0" cellspacing="0">
  <thead>
    <th *ngFor="let th of theadData">{{th.title}}</th>
  </thead>
  <tbody>
    <tr *ngFor="let tr of elements">
 
            <td >{{tr.updated_at}}</td>
            <td ><a href="/index.php/kb_offer/show/id/{{tr.id}}">{{tr.document_nr}}</a></td>
            <td >{{tr.status}}</td>
            <td >{{tr.is_valid_until}}</td>
            <td >{{tr.customer}}</td>
            <td >{{tr.title}}</td>
            <td >{{tr.currency}}</td>
            <td >{{tr.total_net}}</td>
            <td >{{tr.total_gross}}</td>
            <td  class="c nolink">
              <i class="halflings halflings-ok-sign opaque" [ngClass]="{'green':!!tr.dispatch, 'grey': !tr.dispatch}" ></i>
            </td>
            <td>
                <button class="sc-ifAKCX fonDgb">Actions<span class="sc-EHOje dRjkiR"></span></button>
            </td>
            <td><input type="checkbox" value="on"></td>
    </tr>
    
  </tbody>
</table>