<!--The content below is only a placeholder and can be replaced.-->

<h2 *ngIf="theadData.length">Angular Table Loaded </h2>
<table class="table table-striped table-condensed table-hover jsTable" cellpadding="0" cellspacing="0">
  <thead>
    <th *ngFor="let th of theadData">{{th.title}}</th>
  </thead>
  <tbody>
    <tr *ngFor="let tr of elements">
        <ng-container  *ngFor="let td of generateArray(tr)">
            <td *ngIf="td.key !== 'id'">{{td.value}}</td>
        </ng-container >
        
    </tr>
    
  </tbody>
</table>